<div *ngIf="weather$ | async as weatherData" class="mt-4 p-4 bg-gray-100 rounded-lg shadow-md">
    <h5 class="text-l font-bold mb-4">{{ 'WEEKLY_FORECAST' | translate }}</h5>
    
    <div class="grid grid-cols-1 gap-4 overflow-y-auto">
      <div *ngFor="let forecast of weatherData.list" class="bg-white p-4 rounded-lg shadow-md flex flex-col">
        <p class="text-gray-600 text-sm font-semibold">{{ formatDate(forecast.dt_txt) }}</p>
        <p class="text-gray-600 text-xs">{{ 'TEMP' | translate }}: {{ forecast.main.temp }} °C</p>
        <p class="text-gray-600 text-xs">{{ 'MIN_TEMP' | translate }}: {{ forecast.main.temp_min }} °C</p>
        <p class="text-gray-600 text-xs">{{ 'MAX_TEMP' | translate }}: {{ forecast.main.temp_max }} °C</p>
        <p class="text-gray-600 text-xs">{{ 'DESCRIPTION' | translate }}: {{ forecast.weather[0].description }}</p>
      </div>
    </div>
</div>
  